<ng-container *ngIf="(league$|async)!.length > 0">
  <h2 class="ui header">
    <i class="trophy icon"></i>
    <div class="content">
      League
    </div>
  </h2>
  <div class="ui three column grid">
    <div class="column" *ngFor="let o of (league$|async)">
      <div class="ui fluid card">
        <div class="content">
          <div class="center aligned header">{{o.tier}} {{o.rank}}</div>
          <div class="center aligned description">
            <p>{{o.queueType | rift}}</p>
            <img src="../../../assets/ranked-emblems/{{o.tier | lowercase}}.png" width="170px">
          </div>
        </div>
        <div class="extra content">
          <div class="center aligned author">
            <p>Win: {{o.wins}} - Losses: {{o.losses}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
