<ng-container *ngIf="(league$|async)!.length > 0">
  <div class="ui stackable two column grid" cy-test-data="league-component">
    <ng-container *ngFor="let o of (league$|async)">
      <div class="column" [attr.cy-test-data]="'league-component-' + o.queueType">
        <h2 class="ui header">
          <img src="../../../assets/ranked-emblems/{{o.tier | lowercase}}.png" class="ui circular image">
          <div class="content">
            <span [attr.cy-test-data]="'league-component-' + o.queueType + '-rank'">{{o.tier}} {{o.rank}}</span>
            <div class="sub header"><span>{{o.queueType | rift}}</span>
              <br>
              <span>Win: {{o.wins}} - Losses: {{o.losses}}</span></div>
          </div>
        </h2>
      </div>
    </ng-container>
  </div>
</ng-container>



