<div class="ui two column centered grid">
  <div class="column" style="margin-top: 20px">
    <h2 class="ui header">
      League Dashboard
      <div class="sub header">a small nx project</div>
    </h2>
  </div>
</div>
<league-summoner-search></league-summoner-search>
<league-summoner style="margin-top: 20px"></league-summoner>
<div class="ui two column centered grid">
  <div class="column" style="margin-top: 20px">
    <league-league></league-league>
  </div>
</div>
<div class="ui two column centered grid" style="margin-top: 40px">
  <div class="column" style="margin-top: 20px">
    <league-champion-masteries></league-champion-masteries>
  </div>
</div>
<div class="ui two column centered grid">
  <div class="column" style="margin-top: 20px">
    <league-match-list></league-match-list>
  </div>
</div>
