<ng-container *ngIf="(matchs$|async) !== null">
  <h4 class="ui horizontal divider header" style="margin: 20PX 0px 20px 0px">
    <i class="bookmark outline icon"></i>
    Champion Masteries
  </h4>
  {{matches$ | async | json}}
  <div class="ui celled list">
        <div class="item">
          <div class="content">
            <div class="ui stackable four column grid">
              <div class="column">
                <div class="header" [attr.cy-test-data]="'matchListQueue'">
                </div>
              </div>
              <div class="column">
                <div class="ui horizontal list">
                  <div class="item">
                    <img class="ui image"
                         src="http://ddragon.leagueoflegends.com/cdn/11.18.1/img/champion/Aatrox.png" width="45px">
                  </div>
                </div>
                <br>
                <div class="ui horizontal list">
                  <div class="item">
                    <img class="ui image"
                         src="http://ddragon.leagueoflegends.com/cdn/11.18.1/img/champion/Aatrox.png" width="45px">
                  </div>
                </div>
              </div>
              <div class="column"></div>
              <div class="column"></div>
            </div>
          </div>
        </div>
  </div>
</ng-container>
